In [3]:
import pandas as pd
import numpy as np

In [25]:
np.sum(np.zeros(5)[np.newaxis],axis=0)
np.zeros(5)[np.newaxis]

array([[0., 0., 0., 0., 0.]])

In [32]:
len('PS_20230428161042_1211346587_rawLog.csv')

39

In [31]:
filepath = "../datasets/gen1/PS_20230428161042_1211346587/PS_20230428161042_1211346587_rawLog.csv"
df = pd.read_csv(filepath)

In [38]:
source = df["nameOrig"].unique()
target = df["nameDest"].unique()

In [45]:
c = set(source).union(set(target))

In [46]:
len(c), len(set(source)), len(set(target))

(55539, 20783, 55538)

In [47]:
accounts = list(c)
accounts_df = pd.DataFrame(accounts,columns=['account'])

In [48]:
accounts_df

           account
0      M4853755135
1      M7640583557
2      M0177096119
3      M5499941139
4      M4061125472
...            ...
55534  M8747564149
55535  M3419770364
55536  C7808825843
55537  C5963665959
55538  C3686119239

[55539 rows x 1 columns]

In [37]:
new_filepath = filepath[:-10]+'accounts.csv'

accounts_df.to_csv(new_filepath)